#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}
.todocard {
  transition: all 0.2s ease-in-out !important;
}
.todocard:hover {
  padding-top: 5px;
  padding-bottom: 5px;
}

@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Medium.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-SemiBold.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-ExtraBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Regular.ttf");
  font-weight: normal;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
